/* 引入自定义字体 */
@font-face {
  font-family: 'MiSans';
  src: url('/pubilc/font/MiSans-Thin.woff2') format('woff2'),
    url('/pubilc/font/MiSans-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/pubilc/font/FiraCode-SemiBold.woff2') format('woff2'),
    url('/pubilc/font/FiraCode-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.vp-doc h1 {
  position: relative;
  font-size: 42px;
  margin-top: 20px;
  min-width: 700px;
  min-height: 200px;
  padding-top: 145px;
  background-image: url("/bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 250px -30px;
  z-index: -1;
}

.vp-doc h1::before {
  content: "H1";
  position: absolute;
  top: 60%;
  left: 0%;
  transform: translate(0%, -30%);
  background-repeat: no-repeat;
  font-size: 2.5em;
  opacity: 0.13;
  z-index: -1;
}

.vp-doc h1::after{
  content: "";
  position: absolute;
  bottom: 15px;
  left: -23px;
  width: 15px;
  height: 15px;
  background-color: rgb(245, 25, 25);
}

.vp-doc h2 {
  position: relative;
  display: inline-block;
  margin-right: 12px;
  min-width: 1000px;
}

.vp-doc h2::before {
  content: "H2";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 30%);
  font-size: 2em;
  opacity: 0.08;
  z-index: -1;
}

.vp-doc h2::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 0px;
  background-color: rgb(245, 25, 25);
}

:root {
  --vp-font-family-base: 'MiSans' !important;
  --vp-font-family-mono: 'Fira Code';
  --vp-custom-block-font-size: 16px;
  --vp-custom-block-code-font-size: 200px;
  --vp-c-brand-1: #b23434;
}

.vp-doc[data-v-54c3a0af] {
  font-size: 18px;
  line-height: 33px;
}

html.dark {
  color-scheme: dark;
}

.VPContent {
  background: url("/grid.svg") rgba(255, 255, 255, 0.6);
  background-blend-mode: difference;
  background-attachment: fixed;
  z-index: 0;
}

h2[data-v-6ba510aa].text {
  font-size: 18px;
  line-height: 50px;
  /* 或者你想要的字体大小 */
}

.text[data-v-6ba510aa] {
  font-size: 16px;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  overflow: hidden;
}

.text[data-v-6ba510aa]:not(h2)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  /* 初始蓝色方块高度 */
  background-color: rgba(255, 0, 0, 0.1);
  transform: scaleX(0);
  transform-origin: center !important;
  z-index: -1;
  /* 设置缩放起点为左侧中心 */
  transition: transform 0.2s ease;
  border-radius: 5px;
}

.text[data-v-6ba510aa]:not(h2):hover::before {
  transform: scaleX(1);
  transition: all 0.2s ease;
  transform-origin: center;
  height: 100%;
}

.dark .VPContent {
  background: rgb(40, 40, 40, 0.6) url("/grid.svg");
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.vp-doc h2 {
  border-top: 0px;
  margin-top: 10px;
}

.VPMenuLink .link {
  line-height: 28px !important;
}

.VPSidebarGroup .link {
  padding: 3px 0 !important;
}

.VPTeamPageTitle .title {
  line-height: 32px;
  font-size: 24px;
  opacity: 0.5;
}

.VPTeamPageTitle .lead {
  font-size: 14px;
  opacity: 0.4;
}

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}